body {
  background: #efeee7;
}
a {
  margin: 5px;
}
#box-icon {
  background: white;
}

header {
  width: 100%;
}

section {
  margin: 80px;
}

header a :hover {
  color: gray;
}
.container {
  margin-bottom: -10px;
}

h1 {
  font-weight: bold;
  font-size: 45px;
}
h3 {
  font-size: 30px;

  color: white;
}

h6 {
  margin-left: 150px;
}
.block {
  background: white;
  padding: 30px;
  margin-bottom: 30px;
  width: 100%;
}

footer {
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  margin: 0;
}

.row {
  padding: 10px;
}