body {
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  height: 100%;
}

.legend i {
  float: left;
  width: 18px;
  height: 18px;
  margin-right: 8px;
  opacity: 0.7;
}

.legend {
  padding: 10px;
  color: #555;
  background-color: #fff;
  border-radius: 5px;
}
